@use "variables" as *;
@use "functions" as *;

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin text-preset-1 {
  font-size: rem(40);
  font-weight: $font-weight-black;
  line-height: $line-height-tight;
  letter-spacing: $letter-spacing-none;

  @include tablet {
    font-size: rem(48);
  }

  @include desktop {
    font-size: rem(64);
  }
}

@mixin text-preset-2 {
  font-size: rem(32);
  font-weight: $font-weight-black;
  line-height: $line-height-tight;
  letter-spacing: $letter-spacing-none;

  @include tablet {
    font-size: rem(36);
  }

  @include desktop {
    font-size: rem(40);
  }
}

@mixin text-preset-3 {
  font-size: rem(12);
  font-weight: $font-weight-black;
  line-height: $line-height-tight;
  letter-spacing: $letter-spacing-wide;
  text-transform: uppercase;

  @include tablet {
    font-size: rem(14);
  }

  @include desktop {
    font-size: rem(16);
  }
}

@mixin text-preset-4 {
  font-size: rem(16);
  font-weight: $font-weight-medium;
  line-height: $line-height-normal;
  letter-spacing: $letter-spacing-none;

  @include tablet {
    font-size: rem(16);
  }

  @include desktop {
    font-size: rem(18);
  }
}

@mixin text-preset-5 {
  font-size: rem(16);
  font-weight: $font-weight-black;
  line-height: $line-height-normal;
  letter-spacing: $letter-spacing-none;
}

/*@mixin container($max-width: 1110px) {
  max-width: $max-width;
  margin-inline: auto;
  padding-inline: $spacing-400;

  @include tablet {
    padding-inline: $spacing-500;
  }

  @include desktop {
    padding-inline: $spacing-800;
  }
}*/



